/*BLOCO 1*/
.subbloco1 {
}
.h2_b1 {
  display: flex;
  justify-content: space-around;
  margin: 1rem ;
}
.texto1 {
}
.subbloco2 {
  margin-top: 1rem;
}
.img_trabalho {
}
/*BLOCO 2*/
.bloco2 {
  border-style: solid;
  position: relative;
  border-width: 2px;
  grid-row: 1/11;
  grid-column: 2/2;
  align-content: center;
  justify-content: center;
  padding: 0;
}
/*titulos em B2*/
.h2_b2 {
  display: flex;
  justify-content: space-around;
}
/*divisórias em B2*/
.projetos {
  flex-wrap: wrap;
  justify-content: space-between;
}
/*caixas de categoria*/
.PP{
  width: 47.5%;
}
.Pblock {
  display: block;
}
.h2_b3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  background-color: #C8C2C2;
  font-family: 'Cinzel', sans-serif;
  font-size: 2rem
  width: 100%;
  padding: 1rem 0;
}
.Pflex{
  display: flex;
  margin-top: .5rem;
  width: 90%;
  margin: 1rem auto;
}
.pro_img {
  position: relative;
  border-style: solid;
  border-radius: 10rem;
  border-width: 2px;
  width: 5rem;
  height: 5rem;
  float: right;
}
.texto2 {
  display: block;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
/*MOBILE*/
@media (max-width: 60rem) {
  .pro_img {
    width: 8rem;
    height: 8rem;
  }
  .h2_b3{
    padding-right: .5rem;
    padding-left: .5rem;
  }
}