/*BLOCO 1*/
.subbloco1 {
  display: flex;
  flex-flow: column wrap;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h2_b1 {
  margin-left: 1rem;
}
.texto1 {
  margin-top: .5rem;
  margin-left: 2rem;
}
.subbloco2 {
  display: flex;
  flex-flow: column wrap;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.img_trabalho {
  width: 95%;
}
/*BLOCO 2*/
.h2_b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 95%;
  margin: auto;
}
.projetos {
  margin: 1rem auto;
  width: 95%;
  flex-flow: row wrap;
  border-radius: 5rem;
}
.image-categoria {
  border-radius: 100%;
  border-style: solid;
  border-width: .5rem;
}
.box-categoria {
  display: flex;
  flex-flow: column nowrap;
}
.titulo-categoria {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.5rem;
}
.texto-categoria {
}
/*MOBILE*/
@media (max-width: 60rem) {
  .subbloco1 {
    margin-bottom: 0rem;
  }
  .subbloco2 {
    margin-bottom: 1rem;
  }
  .h2_b1 {
    margin-left: 0rem;
  }
  .texto1 {
  margin-top: .25rem;
  margin-left: .5rem;
  }
  .projetos {
    flex-flow: column wrap;
    padding: .5rem;
    border-radius: 15px;
    align-items: center;
  }
  .box-categoria {
    align-self: flex-start;
  }
}