/* INDEX */

.tela {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 2rem;
  grid-template-rows: auto;
  background-color: #CAE9FD;
  grid-template-areas:
  "header . bloco2 bloco2"
  "texto texto bloco2 bloco2"
  "texto texto bloco2 bloco2"
  "texto texto bloco2 bloco2"
  "texto texto bloco2 bloco2"
  "contato contato contato contato";
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.img_menu {
  z-index: 1;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  display: flex;
  align-self: flex-end;
}
.img_perfil {
  z-index: 2;
  border-style: solid;
  border-radius: 4rem;
  border-width: 0.1rem;
}
.name {
  z-index: 0;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  background-color: #DDDDDD;
  align-self: center;
  font-family: 'Cinzel', serif;
  
}
.texto {
  background-color: #7ADCE8;
  grid-area: texto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-style: solid;
  border-radius: 3rem;
  border-color: gray;
  border-width: 0.1rem;
  font-family: 'Lato', sans-serif;
}
.contato {
  grid-area: contato;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #FF1E01;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.cat1 {
  grid-area: cat1;
  border-radius: 4.6rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  display: flex;
  background-color: #7ADCE8;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.cat2 {
  grid-area: cat2;
  border-radius: 4.6rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  display: flex;
  background-color: #7ADCE8;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.cat3 {
  grid-area: cat3;
  border-radius: 4.6rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  display: flex;
  background-color: #7ADCE8;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}
.titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ADCE8;
  font-family: 'Cinzel', serif;
}
.img_cat {
  border-radius: 4.6rem;
  border-style: solid;
  border-width: 0.53rem;
  border-color: #2B35B3;

}
.bloco2 {
  grid-area: bloco2;
  max-width: 90%;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
  "titulo"
  "cat1_titulo"
  "cat1"
  "cat2_titulo"
  "cat2"
  "cat3_titulo"
  "cat3";
}
.cat1_titulo {
  grid-area: cat1_titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDDDD;
  border-style: solid;
  border-width: 0.1rem;
  font-family: 'Cinzel', serif;
}
.cat2_titulo {
  grid-area: cat2_titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDDDD;
  border-style: solid;
  border-width: 0.1rem;
  font-family: 'Cinzel', serif;
}
.cat3_titulo {
  grid-area: cat3_titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #DDDDDD;
  border-style: solid;
  border-width: 0.1rem;
  font-family: 'Cinzel', serif;
}
.intro {
  font-family: 'Cinzel', serif;
}

@media (max-width: 360px) {
  .tela {
    display: block;
    position: relative;
    background-color: #CAE9FD;
  }

  
  .bloco2 {
    display: block;
    border-width: 0px;
  }

  .contato {
    border-style: solid;
    position: relative;
    border-width: 2px;
    grid-area: 10/1 / 11/11;
    background-color: #FF1E01;
    padding: 5px 0px 0px 0px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0rem 0rem 1rem 0rem;
  }

  .img_perfil {
    z-index: 2;
    position: relative;
    width: 25%;
    min-width: 2rem; 
    border-style: solid;
    border-radius: 60px;
    border-width: 2px;

    margin: 0px 0px 0px 0px;
  }

  .img_menu {
    display: none;
  }

  .name {
    z-index: 0;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.1rem;
    background-color: #DDDDDD;
    align-self: center;
    margin: 1rem 0rem 0rem 1rem;
    font-family: 'Cinzel', serif;

  }

  .img_cat {
    position: relative;
    border-radius: 10rem;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #2B35B3;
    top: 0.3rem;
    left: 0.3rem;
  }

  .texto {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Lato', sans-serif;
  }
  .img_texto {
    display: none;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7ADCE8;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
  }  
  .cat1 {
    border-radius: 4.6rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    display: flex;
    background-color: #7ADCE8;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .cat2 {
    border-radius: 4.6rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    display: flex;
    background-color: #7ADCE8;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .cat3 {
    border-radius: 4.6rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    display: flex;
    background-color: #7ADCE8;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .cat1_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    border-style: solid;
    border-width: 0.1rem;
    font-family: 'Cinzel', serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .cat2_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    border-style: solid;
    border-width: 0.1rem;
    font-family: 'Cinzel', serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .cat3_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #DDDDDD;
    border-style: solid;
    border-width: 0.1rem;
    font-family: 'Cinzel', serif;
    padding: 0.5rem;
    margin: 1rem;
  }
  .intro {
    font-family: 'Cinzel', serif;
  }


}
