/*BLOCO 1*/
.subbloco1 {
}
.h2_b1 {
}
.texto1 {
}
.subbloco2 {
  max-width: 90%;
  margin-top: 1rem;
}
.img_trabalho {
}
/*BLOCO 2*/
.bloco2_2{
}
/*titulos em B2*/
.h2_b2 {
  display: flex;
  padding: .5rem;
  margin: 1rem;
  justify-content: space-around;
}
/*divisórias em B2*/
.projetos {
  position: relative;
  margin: 0 1.5em;
  padding: 20px;
  justify-content: center;
}
/*descrição*/
.texto_cat_alter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  font-family: 'Lato', sans-serif;
  margin: 0rem 0rem 0rem 1rem;
}
/*alunos*/
.projetoss {
  display: flex;
  flex-wrap: wrap;
  background-color: #E0FFFC;
  position: relative;
  border-radius: 70px;
  border-radius: 30px;
  margin: 0em 1.5em 0em 1.5em;
  padding: 1rem;
}
.img_perfil_alt {
  z-index: 2;
  position: relative;
  border-style: solid;
  border-radius: 60px;
  border-width: 2px;
  top: 0.3rem;
  left: 1rem;
  margin: 0.5rem 1rem 0rem 0rem;
}
/*MOBILE*/
@media (max-width: 60rem) {
  .projetos {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .subbloco2 {
    max-width: 85%;
  }
}