.tela {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(10,10%);
  background-color: #CAE9FD;
}
.bloco1 {
  border-style: solid;
  position: relative;
  border-width: 2px;
  grid-row:1/10 ;
  grid-column: 1/1;

}

.bloco2 {
  border-style: solid;
  position: relative;
  border-width: 2px;
  grid-row: 1/10;
  grid-column: 2/2;

}

.contatos {
  border-style: solid;
  position: relative;
  border-width: 2px;
  grid-area: 10/1 / 11/11;
  background-color: #FF1E01;
  padding: 5px 0px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.img_perfil {
  z-index: 2;
  position: relative;
  width: 14%;
  min-width: 50px; 
  border-style: solid;
  border-radius: 60px;
  border-width: 2px;

  margin: 0px 0px 0px -30px;
}

.img_menu {
  z-index: 1;
  position: relative;
  width: 7%;
  min-width: 30px;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
}

.name {
  z-index: 0;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  background-color: #DDDDDD;
  align-self: center;
  font-family: 'Cinzel', serif;
}

.subbloco1 {
  background-color: #7ADCE8;
  border-radius: 30px;
  margin: 0em 0.5em 0em 0.5em;
  padding: 20px;
}

.subbloco2 {
  background-color: #7ADCE8;
  border-radius: 30px;
  margin: 20px 20px 0px 20px;
  padding: 20px;
  bottom: 5px;
}

.img_trabalho {
  z-index: 2;
  position: relative;

  border-style: solid;
  border-width: 2px;

  margin: 0px 0px 0px 0px;

  width: 100%;
}
.h2_b1 {
  font-family: 'Cinzel', sans-serif;
}

.h2_b2 {
  position: relative;
  background-color: #DDDDDD;
  padding: 0.5em 50% 0.5em 50% ;
  margin: 20px;
  justify-content: center;
  font-family: 'Cinzel', sans-serif;

}


.projetos {
  display: flex;
  background-color: #7ADCE8;
  position: relative;
  border-radius: 70px;
  
  border-radius: 30px;
  margin: 0em 1.5em 0em 1.5em;
  padding: 20px;
  justify-content: center;
  grid-area: 1/1  3/6 ;
}


.projetoss {
  display: flex;
  background-color: #7ADCE8;
  position: relative;
  border-radius: 70px;
  
  border-radius: 30px;
  margin: 0em 1.5em 0em 1.5em;
  padding: 20px;
  justify-content: center;
  grid-area: 1/1  3/6 ;
}


.img_cat {
  position: relative;
  border-radius: 10rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #2B35B3;
  top: 0.3rem;
  left: 0.3rem;
}

.texto_cat_alter {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-family: 'Lato', sans-serif;
}

.img_perfil_alt {
  z-index: 2;
  position: solid ;

  border-style: solid;
  border-radius: 60px;
  border-width: 2px;
  top: 0.3rem;
  left: 0.3rem;

  margin: 3rem 1rem 0rem 1rem;
}

.bloco2_2{
  width: 90%;
  padding: 0em 0em 2.5em 0em;
}


.texto1 {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}
.contatos_text {
  font-family: 'Lato', sans-serif;
}








@media (max-width: 360px) {
  .tela {
    position: relative;
    background-color: #CAE9FD;
    display: block;
  }
  .bloco1 {
    border-width: 0px;
    padding: 1rem;

  }

  .projetoss {
    display: block;
  
  }

  .img_perfil_alt {
  z-index: 2;
  position: solid ;

  border-style: solid;
  border-radius: 60px;
  border-width: 2px;


  margin: 0px 0px 0px 0px;
  }

  .img_perfil_alt {
  z-index: 2;
  position: relative; 
  display: flex;

  border-style: solid;
  border-radius: 60px;
  border-width: 2px;
  top: 0.3rem;
  left: 0.3rem;

  margin: 3rem 1rem 0rem 1rem;
  }
  .bloco2 {
    display: block;
    border-width: 0px;
  }

  .contatos {
    border-style: solid;
    position: relative;
    border-width: 2px;
    grid-area: 10/1 / 11/11;
    background-color: #FF1E01;
    padding: 5px 0px 0px 0px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0rem 0rem 1rem 0rem
  }

  .img_perfil {
    z-index: 2;
    position: relative;
    width: 25%;
    min-width: 2rem; 
    border-style: solid;
    border-radius: 60px;
    border-width: 2px;

    margin: 0px 0px 0px 0px;
  }

  .img_menu {
    z-index: 1;
    position: relative;
    width: 7%;
    min-width: 30px;
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
  }

  .name {
    z-index: 0;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.1rem;
    background-color: #DDDDDD;
    align-self: center;
    margin: 1rem 0rem 0rem 1rem;
    font-family: 'Cinzel', serif;

  }

  .bloco2_2{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .h2_b2 {
  position: relative;
  background-color: #DDDDDD;
  font-family: 'Cinzel', sans-serif;
  padding: 1rem 1rem 1rem 8rem;
  margin: 1rem;
  }

  .img_menu {
    display: none;
  }


  .subbloco1 {
    background-color: #7ADCE8;
    border-radius: 30px;
    margin: 0em 0.5em 0em 0.5em;
    padding: 20px;
  }

  .subbloco2 {
    background-color: #7ADCE8;
    border-radius: 30px;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    bottom: 5px;
  }

  .img_trabalho {
    z-index: 2;
    position: relative;

    border-style: solid;
    border-width: 2px;

    margin: 0px 0px 0px 0px;

    width: 100%;
  }
  .h2_b1 {
    font-family: 'Cinzel', sans-serif;
  }
  .h2_b2 {
    
  }

  .projetos {
    display: flex;
    background-color: #7ADCE8;
    position: relative;
    border-radius: 70px;
    
    border-radius: 30px;
    margin: 0em 1.5em 0em 1.5em;
    padding: 20px;
    justify-content: center;
    grid-area: 1/1  3/6 ;
  }

  .img_cat {
    position: relative;
    border-radius: 10rem;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #2B35B3;
    top: 0.3rem;
    left: 0.3rem;
  }

  .texto_cat_alter {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Lato', sans-serif;
  }

  .img_perfil_alt {
    z-index: 2;
    position: solid ;

    border-style: solid;
    border-radius: 60px;
    border-width: 2px;
    top: 0.3rem;
    left: 0.3rem;

    margin: 3rem 1rem 0rem 1rem;
  }

  .bloco2_2{
  width: 100%;
  padding: 0em 0em 0em 0em;
  }
  .name {
  z-index: 0;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  padding: 0.5rem;
  margin: 0rem 0rem 0.25rem 0rem;
  justify-content: center;
  background-color: #DDDDDD;
  align-self: center;
  font-family: 'Cinzel', serif;
 }


  .texto1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
  }
  .contatos_text {
    font-family: 'Lato', sans-serif;
  }


}

